
   <mat-sidenav-container class="Hamburguesa">
    <mat-sidenav #sidenav mode="over" class="">
        <mat-list role="list" class="lista">
          <a href="http://localhost:4200/login">
            <mat-list-item role="listitem"><button mat-raised-button>Login</button></mat-list-item>
          </a>
          <a href="http://localhost:4200/inicio">
            <mat-list-item role="listitem"><button mat-raised-button>Inicio</button></mat-list-item>
          </a>
          <a href="http://localhost:4200/nosotros">
            <mat-list-item role="listitem"><button mat-raised-button>Nosotros</button></mat-list-item>
          </a>
          </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="custom-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Menú</span>
      </mat-toolbar>
  
    </mat-sidenav-content>
</mat-sidenav-container>
<div class="Back">

</div>